<div class="search-bar-wrapper" [class.expanded]="isExpanded">
  <button type="button" class="icon-btn" (click)="toggleSearch()">
    <span class="search-icon material-icons">search</span>
  </button>

  @if (isExpanded) {
  <input
    class="search-input"
    type="text"
    [placeholder]="placeholder"
    [value]="inputValue"
    (input)="onInput($any($event.target).value)"
    autocomplete="off"
    spellcheck="false"
  />
  } @if (isExpanded && inputValue) {
  <button type="button" class="clear-btn" (click)="clearSearch()">
    <span class="material-icons">close</span>
  </button>
  }
</div>