<div
  class="description-wrapper"
  [formGroup]="formGroup"
  appRequiredField
>
  <textarea
    class="form-control custom-textarea"
    [class.is-invalid]="isTouched && control?.invalid"
    [formControlName]="config.formControlName"
    [rows]="config.rows ?? 2"
    placeholder=" "
  ></textarea>

  <label class="floating-label">
    {{ config.placeholder }}
  </label>
</div>

@if (control?.touched && control?.invalid) {
  <div class="invalid-feedback d-block text-start">
    @if (errors?.['required']) {
      Description is required.
    }
  </div>
}