.name-wrapper {
  position: relative;
}

.custom-input.form-control {
  height: 56px;
  width: 100%;
  border-radius: 8px;
  font-family: 'DM Sans', sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

.form-control.is-invalid {
  background-image: none !important;
}

.floating-input {
  padding-top: 9px;
  padding-bottom: 4px;
}

.floating-input::placeholder {
  color: transparent;
}

.floating-label {
  display: none;
}

.floating-wrapper .floating-label {
  display: block;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 18px;
  color: #6b7280;
  font-size: 16px;
  transition: 0.2s ease all;
  background-color: white;
  padding: 0 5px;
  margin: 0;
}

.floating-input:focus ~ .floating-label,
.floating-input:not(:placeholder-shown) ~ .floating-label {
  top: -9px;
  left: 8px;
  font-size: 12px;
  color: #999;
}

.floating-input:focus {
  border-color: #007bff;
  box-shadow: none;
}
