<div
  class="position-relative w-100 password-wrapper"
  [class.floating-wrapper]="isFloating"
  [formGroup]="formGroup"
  appRequiredField
>
  <input
    [type]="showPassword ? 'text' : 'password'"
    class="form-control custom-input"
    [class.floating-input]="isFloating"
    [class.is-invalid]="isTouched && (control?.hasError('required') || isInvalidPassword)"
    [formControlName]="config.formControlName"
    (input)="onInput($event)"
    (blur)="onBlur($event)"
    [placeholder]="isFloating ? ' ' : config.placeholder || 'Password'"
  />
  <label class="floating-label">{{ config.placeholder || 'Password' }}</label>
  <button type="button" class="toggle-btn me-1" (click)="togglePassword()" tabindex="-1">
    <img
      [src]="
        showPassword ? 'assets/images/EyeSlashActive.svg' : 'assets/images/EyeSlash.svg'
      "
      alt="toggle"
    />
  </button>
</div>

@if (isTouched && (control?.hasError('required') || isInvalidPassword)) {
<div class="invalid-feedback d-block text-start">
  @if (control?.hasError('required')) {
  {{ config.placeholder || 'Password' }} is required. } @else { Password must be 8-15 characters
  with letters, numbers and a special character. }
</div>
}
