<div
  class="position-relative w-100 mobile-wrapper"
  [class.floating-wrapper]="isFloating"
  [formGroup]="formGroup " 
  appRequiredField
>
  <input
    type="tel"
    class="form-control custom-input"
    [class.floating-input]="isFloating"
    [class.is-invalid]="isTouched && isInvalidMobile"
    [formControlName]="config.formControlName"
    (input)="onInput($event)"
    (blur)="onBlur($event)"
    [placeholder]="isFloating ? ' ' : (config.placeholder || 'Mobile Number')" 
    maxlength="15"
    inputmode="numeric"
    oninput="this.value = this.value.replace(/[^0-9]/g, '')"
  />
  <label class="floating-label">{{ config.placeholder || 'Mobile Number' }}</label>  
</div>

@if (isTouched && isInvalidMobile) {
  <div class="invalid-feedback d-block text-start">
    @if (control.hasError('required')) {
      Mobile number is required.
    } @else {
      Please enter a valid mobile number (up to 15 digits).
    }
  </div>
}