<div class="sidebar-overlay" [class.active]="isOpen" (click)="close()"></div>

<aside class="sidebar-container" [class.open]="isOpen">
  <nav class="nav-section">
    <ul class="nav-list">
      <li *ngFor="let item of config?.navItems">
        <a [routerLink]="item.route" routerLinkActive="active" class="nav-item" (click)="close()">
          <span class="material-icons">{{ item.icon }}</span>
          <span class="label-text">{{ item.label }}</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>